.gradient-text {
    background: linear-gradient(to right, #008AFF 0%, #524AB0 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.schools:hover .school-link{
    background: linear-gradient(to right, #008AFF 0%, #524AB0 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



.schools:hover .content-section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

@media (min-width: 991.98px) { 
    .card-img-top {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }
  }    